<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <appSettings>
        <add key="images" value="C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public03.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public09.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public16.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public17.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public18.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public19.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public25.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public29.jpg;C:\Users\Bryce\Pictures\Robotics\2014\San Diego\Public\Public31.jpg"/>
    </appSettings>
</configuration>
